/.txt
/signup.2.0.html.txt
/signup_1.0.html.txt
/quantity.html
/location dialogue box.html
/location.html
/js/signup_1.0.js.txt
/js/signup_1.1.js.txt
/js/signup_2.0.js.txt
/js/allJS.js
/fetching by category.html
/tailwind
/alpine.js
/shop.html
/js/product.js
/js/products.js